/* Container for the entire price card */
.container-price {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #1a1a1a; /* Dark background */
    color: #f1f1f1; /* White text */
}

/* Container for the image */
.image-container {
    flex: 0 0 50%;
    text-align: center;
}

.image-container img {
    max-width: 100%;
    height: auto;
    /* Ensure image is responsive */
}

/* Container for the text */
.text-container {
    flex: 0 0 45%;
    text-align: left;
    margin-top: 25px;
}

/* List for the steps */
.steps__list {
    list-style: none;
    padding: 0;
}

/* Individual step item */
.steps__list li {
    margin-bottom: 15px;
}

/* Style for step count */
.steps__count {
    margin-bottom: 5px;
    font-size: 1.2rem;
    color: #7caeff; /* Small tagline color */
}

/* Style for step text */
.steps__text {
    margin-left: 20px;
    font-size: 1rem;
    color: #f1f1f1;
}

/* Container for the button */
.button-container {
    margin-top: 30px;
}

/* Style for the button */
.button-know {
    display: inline-block;
    padding: 15px 30px;
    background-color: #1997fc; /* Bright button color */
    color: #fff;
    text-decoration: none;
    border: none;
    outline: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

/* Hover effect for the button */
.button-know:hover {
    background-color: #007bbd; /* Change background color on hover */
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    .container-price, .button-container{
        flex-direction: column;
        text-align: center; /* Center align text on mobile */
    }

    .image-container {
        order: 1;
        margin-bottom: 20px;
        width: 100%; /* Ensure image container is full width on mobile */
    }

    .text-container {
        order: 2;
        width: 90%; /* Adjust text container width on mobile */
    }

    .steps__list {
        text-align: left; /* Align steps list to the left on mobile */
    }

    .steps__count, .steps__text {
        text-align: left; /* Align steps text to the left on mobile */
        margin-left: 10; /* Remove left margin on mobile */
    }
}
