.price .items {
  padding: 40px;
  text-align: center;
}
.price h1 {
  font-size: 50px;
  margin: 20px 0;
  color: #1eb2a6;
}
.price h1 span {
  font-size: 20px;
  margin-right: 5px;
  color: #000;
}
.price p {
  color: grey;
  margin: 40px 0;
}
/*--------------faq-------------*/
/* styles.css */

/* Reset */
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* User Agent Stylesheet Overrides */
.faq-page-wrapper {
  background: #1a1a1a; /* Dark background */
  color: #f1f1f1;
}

.faq-page-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 150px 0 28.8px;
  position: relative;
  font-family: 'Circular Pro Medium', sans-serif;
  line-height: 1;
}

.faq-page-header .title {
  font-size: 8.5rem; /* Adjust font size */
  color: #f1f1f1;
}

.faq-page-header .baseline {
  color: #1997fc;
  font-size: 1.4rem;
  margin-top: 1.2rem;
}

.faq-page-content {
  margin: auto;
  padding-bottom: 9vw;
  position: relative;
  width: 41.66667%;
}

.faq-page-content h1 {
  font-family: Circular Pro Book, sans-serif;
  text-rendering: optimizelegibility;
}

.faq-page-content h2 {
  font-family: Circular Pro Book, sans-serif;
  font-size: 25px;
  margin-top: 4vw;
}

.faq-page-content p {
  font-family: Circular Pro Book, sans-serif;
  color: #fff;
  font-size: 15px;
  line-height: 1.6;
  margin-top: 1.4vw;
}

.faq-page-content .link {
  color: #7caeff; /* Adjust link color */
}

/* Media Query for Mobile View */
@media (max-width: 844px) {
  .faq-page-header .title {
    font-size: 4rem; /* Reduce font size for mobile */
  }

  .faq-page-header .baseline {
    font-size: 1rem; /* Reduce font size for mobile */
  }

  .faq-page-content {
    width: 80%; /* Adjust content width for mobile */
  }

  .faq-page-content h2 {
    font-size: 20px; /* Adjust heading size for mobile */
    margin-top: 6vw;
  }

  .faq-page-content p {
    font-size: 14px; /* Adjust paragraph size for mobile */
    margin-top: 3vw;
  }
}


/*--------------faq-------------*/


