/*--------head------------*/
.head {
  padding: 20px 0;
  color: #000000;
}

.logo h1 {
  font-size: 35px;
  font-weight: 900;
  color: #ffffff;
}

.head .icon {
  margin-left: 10px;
}

/*--------header dropdown------------*/
/* header.css */

.dropdown-btn {
  cursor: pointer;
  text-align: center;
  color: #000000;  /* Match the color of other navbar items */
  padding: 0;  /* Adjust padding as needed */
  text-decoration: none;  /* Remove underline if any */
  font-size: 18px;  /* Adjust font size as needed */
  font-weight: 500;
  transition: 0.5s;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.3);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 20px 15px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*--------header------------*/
header {
  background-color: rgba(202, 240, 237, 0.2);
  /* Set the background color with transparency */
  margin: 0 70px;
  justify-content: space-between;
  align-items: center;
  /* Add box-shadow to create the glass finish effect */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 4px 8px rgba(0, 0, 0, 0.1);
}

header .nav {
  display: flex !important;
  border: 50px;
}

header li {
  margin-right: 40px;
}

header ul {
  padding: 30px 20px;
}

header ul li a {
  color: #000000;
  font-weight: 500;
  font-size: 18px;
  transition: 0.5s;
}

header ul li a:hover {
  color: #1e4db2;
}

.right {
  display: flex;
  /* Make the children elements display in a row */
  align-items: center;
  /* Vertically center align items */
}

.start {
  padding: 20px 10px;
  color: #fff;  /* Add margin between buttons */
}

.button {
  background-color: #226af0c9;
  padding: 12px 24px;
  color: #ede7e4; /* Updated text color */
  cursor: pointer;
  /* Ensure cursor changes to pointer on hover */
  border: none;
  outline: none;
  border-radius: 5px;
  font-weight: bold;
}

.toggle {
  display: none;
}

/*--------header------------*/

@media screen and (max-width: 932px) {
  .start {
    clip-path: none;
  }

  header {
    margin: 10px;
    background-color: rgba(202, 240, 237, 0.2);
    position: relative;
  }

  header ul.flexSB {
    display: none;
  }

  header ul li {
    margin-bottom: 20px;
  }

  .toggle {
    display: block;
    background: none;
    color: #fff;
    font-size: 30px;
    position: absolute;
    right: 0;
    top: -20px;
  }

  .mobile-nav {
    position: absolute;
    top: 7vh;
    left: 0;
    width: 100%;
    background-color: #a8f3ed;
  }
}