.aboutHome {
  height: auto;
}
.aboutHome #heading {
  text-align: left;
  padding: 0;
}
.aboutHome .left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.aboutHome .right {
  padding: 80px 50px;
}
.aboutHome .items {
  margin-top: 50px;
}
.aboutHome .item {
  background-color: #fff;
  margin-top: 30px;
  padding: 20px;
  transition: 0.5s;
}
.aboutHome .img {
  width: 200px;
}
.aboutHome img {
  width: 70px;
  height: 70px;
}
.aboutHome .item h2 {
  font-size: 20px;
  margin-bottom: 15px;
}
.aboutHome .item p {
  color: #999999;
}
.aboutHome .item:hover {
  background-color: #87d0ea;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 5px 25px -2px rgb(0 0 0 / 6%);
}
.aboutHome .item:hover p {
  color: #fff;
}
/*----------awrapper------------*/
/* .awrapper {
  background-image: url("../../../public/images/awrapper.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position:unset;
  height: 50vh;
  color: #fff;
} */
.awrapper-container {
  background-color: rgba(255, 255, 255, 0.3);
  color: #090909;
  margin-top: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  /* Center content horizontally */
}

.awrapper-content {
  display: flex;
  flex-wrap:nowrap;
}

.awrapper-box {
  margin: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
}

.awrapper-img {
  margin-right: 40px;
}

.awrapper h1 {
  font-size: 50px;
  margin-bottom: 10px;
}

.awrapper h3 {
  font-size: 20px;
  font-weight: 500;
  margin-top: 5px;
}

/* AboutCard.css */

.item-container {
  margin-bottom: 20px;
  /* Adjust margin between each item */
}

.item-content {
  display: flex;
  align-items: center;
  /* You can adjust flexbox properties here */
}

.item-img {
  margin-right: 20px;
  /* Adjust space between image and text */
}

.item-text {
  flex-grow: 1;
  /* Allow text to grow and take up available space */
}

.item-img img {
  max-width: 100%;
  /* Ensure images don't exceed container width */
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .awrapper-container {
    height: 50vh;
  }
}