.hero {
  background-image: url("../../../../public/images/bg-design.svg");
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  padding-top: 20%;
  padding-right: 50px;
  color: #fff;  
  font-family: "PP Mori", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Typing Animation */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Apply animation to text */
.typing-text {
  overflow: hidden; /* Hide overflowing text */
  white-space: nowrap; /* Prevent text from wrapping */
  animation: typing 2s steps(20) forwards; /* Adjust duration and steps as needed */
  position: relative; /* Position relative to allow absolute positioning of cursor */
}

/* Cursor animation */
.typing-text::after {
  content: ''; /* Required for pseudo-elements */
  position: absolute;
  top: 0;
  right: 0;
  width: 0.15em; /* Cursor width */
  height: 1em; /* Cursor height */
  background-color: transparent; /* Cursor color */
  animation: cursor-blink 1s infinite step-start; /* Cursor blinking animation */
}

@keyframes cursor-blink {
  50% {
    background-color: transparent;
  }
}

.typing-text {
  opacity: 5;
  transition: opacity 0.9s ease-in-out;
}

.start-typing {
  opacity: 5;
}

/* Hide cursor when typing animation completes */
.typing-text.finished::after {
  display: none;
}

.gradient-text {
  color: linear-gradient(90deg, rgb(87, 78, 219) 0.41%, rgb(79, 9, 170) 40.68%, rgb(220, 56, 56) 64.12%, rgb(227, 125, 52) 97.82%);
}

/* Part 2 */

.txtSmallTitle {
  font-size: 48px;
  color: #ffffff;
  font-weight: 600;
}

.txtTitle {
  font-size: 48px;
  font-weight: 700;
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(90deg, rgb(179, 174, 245) 0.41%, rgb(215, 203, 231) 40.68%, rgb(229, 200, 200) 64.12%, rgb(234, 168, 121) 97.82%) text, rgba(0, 0, 0, 0);
  background: linear-gradient(90deg, rgb(87, 78, 219) 0.41%, rgb(79, 9, 170) 40.68%, rgb(220, 56, 56) 64.12%, rgb(227, 125, 52) 97.82%) text, rgba(0, 0, 0, 0);
}

.gap {
  margin-bottom: 15px;
}

/* primary-btn-hero */
.primary-btn-hero {
  position: relative;
  z-index: 1;
  background-color: #007bff;
  color: #fff;
  margin-top: 50px;
  padding: 15px 20px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
}

.primary-btn-hero:hover {
  background-color: #0056b3;
}

.primary-btn-hero i {
  margin-left: 5px;
}

/* Media Query for Mobile Devices */
@media screen and (max-width: 768px) {
  .hero {
    background-position: center;
    padding-top: 50%;
    height: auto; /* Allow height to adjust based on content */
    padding-right: 20px; /* Adjust padding for smaller screens */
  }

  .hero .container {
    padding: 0 15px; /* Add padding to container for better spacing */
  }

  .txtSmallTitle, .txtTitle {
    font-size: 24px; /* Reduce font size for smaller screens */
  }

  .primary-btn-hero {
    margin-top: 15px; /* Adjust margin for button */
    font-size: 16px; /* Reduce font size for button text */
    padding: 10px 15px; /* Adjust padding for button */
  }

  .gap {
    margin-bottom: 10px; /* Adjust gap size */
  }

  .margin {
    height: 40vh;
  }
}
