.updated-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5rem 0;
  background-color: #fdfdfd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.updated-loan-history-header {
  font-size: 60px;
  text-align: center;
  margin: 20px;
  color: #1997fc;
  font-weight: 600;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* .updated-loan-history-container {
  width: 100%;
  margin: 20px auto;
  padding: 20px;
  background-color: #fdfdfd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} */

.updated-loan-history-item {
  width: 100%;
  margin-top: 20px;
  padding: 2.5rem 2rem;
  background-color: #333;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.updated-loan-history-item table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.updated-loan-history-item td,
.updated-loan-history-item th {
  padding: 12px;
  border: 1px solid #444;
  color: #fff;
}

.updated-loan-history-item td.updated-value {
  font-weight: bold;
}

.updated-loan-history-item tr:nth-child(even) {
  background-color: #3b3b3b;
}

.updated-loan-history-item tr:hover {
  background-color: #555;
}

.updated-table-header {
  padding: 12px;
  background-color: #1997fc;
  color: #fff;
  font-weight: bold;
  border-radius: 4px;
}

.updated-user-container {  
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 10px;
}

input[type="number"],
.updated-select-box {
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
  padding-left: 15px;
  margin-left: 15px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
  transition: border-color 0.3s ease;
}

input[type="number"]:focus,
.updated-select-box:focus {
  border-color: #ff5107;
  outline: none;
}

input[type="number"] {
  width: 60px;
}

.updated-profile-card__button {
  background: none;
  border: none;
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  font-size: 14px;
  margin: 5px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.updated-button--blue {
  background-color: #007bff;
  color: white;
}

.updated-button--green {
  background-color: #28a745;
  color: white;
}

.updated-button--red {
  background-color: #dc3545;
  color: white;
}

.updated-button--orange {
  background-color: #fd7e14;
  color: white;
}

.updated-profile-card__button:hover {
  opacity: 0.8;
}

.updated-profile-card__button:focus {
  outline: none;
}

.updated-nxt-btn {
  min-height: 44px;
  min-width: 150px;
  margin: 15px;
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
  margin: 10px;
  font-weight: 600;
  font-size: 20px;
  padding: 15px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  backface-visibility: hidden;
  transition: all .3s;
  background: linear-gradient(45deg, #1da1f2, #0e71c8);
  box-shadow: 0px 4px 30px rgba(19, 127, 212, 0.4);
}

.updated-nxt-btn {
  background: linear-gradient(45deg, #1da1f2, #0e71c8);
  box-shadow: 0px 4px 30px rgba(19, 127, 212, 0.4);
}

.updated-nxt-btn:hover {
  box-shadow: 0px 7px 30px rgba(19, 127, 212, 0.75);
  transform: scale(1.05);
}
