.aup-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  background-color: #fdfdfd;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.aup-loan-history-header {
  font-size: 60px;
  text-align: center;
  margin: 20px;
  color: #1997fc;
  font-weight: 600;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Styles for loan history */

.aup-loan-history-item {
  width: 100%;
  margin-top: 20px;
  padding: 2.5rem 2rem;
  background-color: #2c2c2c;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.aup-loan-history-item table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.aup-loan-history-item td,
.aup-loan-history-item th {
  padding: 12px;
  border: 1px solid #444;
  color: #fff;
}

.aup-loan-history-item td.aup-value {
  font-weight: bold;
}

.aup-loan-history-item tr:nth-child(even) {
  background-color: #3b3b3b;
}

.aup-loan-history-item tr:hover {
  background-color: #555;
}

.aup-table-header {
  padding: 12px;
  background-color: #1997fc;
  color: #fff;
  font-weight: bold;
  border-radius: 4px;
}

@media (max-width: 768px) {
  .aup-loan-history-item {
    padding: 1.5rem;
  }
}

.aup-user-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 60px 0;
}
.aup-select-box,
input[type="number"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
  transition: border-color 0.3s ease;
}

input[type="number"]:focus,
.aup-select-box:focus {
  border-color: #1997fc;
  outline: none;
}

input[type="number"] {
  width: 80px; /* Adjust width as needed */
}

.aup-profile-card__button {
  background: none;
  border: none;
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  font-size: 19px;
  margin: 15px 25px;
  padding: 15px 20px;
  min-width: 170px;
  border-radius: 10px;
  min-height: 55px;
  color: #fff;
  cursor: pointer;
  backface-visibility: hidden;
  transition: all .3s;
}

.aup-button-view-detail-blue {
  font-family: 'Quicksand', sans-serif;
  margin: 10px;
  font-weight: 600;
  font-size: 20px;
  padding: 15px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  backface-visibility: hidden;
  transition: all .3s;
  background: linear-gradient(45deg, #1da1f2, #0e71c8);
  box-shadow: 0px 4px 30px rgba(19, 127, 212, 0.4);
}

.aup-button-view-detail-blue:hover {
  box-shadow: 0px 7px 30px rgba(19, 127, 212, 0.75);
  transform: scale(1.05);
}

.aup-button--blue {
  background: linear-gradient(45deg, #1da1f2, #0e71c8);
  box-shadow: 0px 4px 30px rgba(19, 127, 212, 0.4);
}

.aup-button--blue:hover {
  box-shadow: 0px 7px 30px rgba(19, 127, 212, 0.75);
  transform: scale(1.05);
}

.aup-button--orange {
  background: linear-gradient(45deg, #d5135a, #f05924);
  box-shadow: 0px 4px 30px rgba(223, 45, 70, 0.35);
}

.aup-button--orange:hover {
  box-shadow: 0px 7px 30px rgba(223, 45, 70, 0.75);
  transform: scale(1.05);
}
