.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signup-form {
    margin: 20px;
    width: 60%;
    box-shadow: 0 0 10px #f1f8f5;
    background-color: #fff1eb;
    padding: 20px;
}

.input-group {
    margin-bottom: 20px;
    overflow: hidden;
}

.input-group label {
    display: block;
}

.input-group select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.input-group input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


.input-group.gender {
    width: 40%;
    float: left;
}

.input-group.email {
    width: 40%;
    float: left;
}

.input-group.state,
.input-group.phone {
    width: 50%;
    float: right;
}


.input-group.pincode {
    width: 40%;
    float: left;
}

.input-group.address {
    width: 100%;
}