/* Heading.css */

#heading {
    text-align: center;
  }
  
  .title {
    color: #f1f1f1;
    font-size: 8rem;
  }
  
  .subtitle {
    color: #1997fc;
    font-size: 20px;
    margin-top: 1.2rem;
  }
  